
zoo/Assets/scripts/changeGameRules.cs
zoo/Library/ArtifactDB
zoo/Library/ScriptAssemblies/Assembly-CSharp.dll
zoo/Library/ScriptAssemblies/Assembly-CSharp.pdb
zoo/Library/SourceAssetDB
zoo/Library/StateCache/Hierarchy/fdb40e-mainStage.json
